p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

button {
  box-sizing: border-box;
  width: 500px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.counter {
  text-align: center;
  margin-top: 128px;
  color: #000000;
}
.counter-plus {
  display: block;
  margin: 36px auto 36px auto;
  background: #4191ff;
}

.text-button {
  color: #ffffff;
}

.counter-reset {
  display: none;
  margin: 36px auto;
  background: #d45366;
}

.counter-reset.active {
  display: block;
}
